<div pageheader></div>

<section id="main" class="p-relative" role="main">
  <!-- Sidebar -->
  <aside id="sidebar">
    <div sidemenu></div>
  </aside>

  <section id="content" class="container">
     <h4 class="page-title">{{dashboardName}}</h4>

     <div class="block-area">
         <!-- Collapse -->
         <div class="block-area" id="collapse">
                <h2 class="block-title">The Twelve-Factor Application Methodology</h2>
                <p>This methodology provides series of guidelines for developers to follow when building modern applications, that are delivered as a web application or software-as-a-service (SaaS).</p>
                <div class="accordion tile">
                   <div class="panel-group block" id="accordion">
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#codebase">Codebase</a>
                           </h3>
                         </div>
                         <div id="codebase" class="panel-collapse collapse in">
                            <div class="panel-body">One codebase tracked in revision control, many deploys.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#dependenciese">Dependencies</a>
                           </h3>
                         </div>
                         <div id="dependenciese" class="panel-collapse collapse">
                            <div class="panel-body">Explicitly declare and isolate dependencies.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#config">Config</a>
                           </h3>
                         </div>
                         <div id="config" class="panel-collapse collapse">
                            <div class="panel-body">Store config in the environment.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#backingservices">Backing Services</a>
                           </h3>
                         </div>
                         <div id="backingservices" class="panel-collapse collapse">
                            <div class="panel-body">Treat backing services as attached resources.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#build">Build, Release, Run</a>
                           </h3>
                         </div>
                         <div id="build" class="panel-collapse collapse">
                            <div class="panel-body">Strictly separate build and run stages.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#process">Processes</a>
                           </h3>
                         </div>
                         <div id="process" class="panel-collapse collapse in">
                            <div class="panel-body">Execute the app as one or more stateless processes.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#portbind">Port Binding</a>
                           </h3>
                         </div>
                         <div id="portbind" class="panel-collapse collapse">
                            <div class="panel-body">Export services via port binding.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#concurrency">Concurrency</a>
                           </h3>
                         </div>
                         <div id="concurrency" class="panel-collapse collapse">
                            <div class="panel-body">Scale out via the process model.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#disposability">Disposability</a>
                           </h3>
                         </div>
                         <div id="disposability" class="panel-collapse collapse">
                            <div class="panel-body">Maximize robustness with fast startup and graceful shutdown.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#devprod">Dev/Prod parity</a>
                           </h3>
                         </div>
                         <div id="devprod" class="panel-collapse collapse in">
                            <div class="panel-body">Keep development, staging, and production as similar as possible.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#logs">Logs</a>
                           </h3>
                         </div>
                         <div id="logs" class="panel-collapse collapse in">
                            <div class="panel-body">Treat logs as event streams.</div>
                         </div>
                      </div>
                      <div class="panel panel-default">
                         <div class="panel-heading">
                           <h3 class="panel-title">
                             <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="Methodology/#admin">Admin Processes</a>
                           </h3>
                         </div>
                         <div id="admin" class="panel-collapse collapse">
                            <div class="panel-body">Run admin/management tasks as one-off processes.</div>
                         </div>
                      </div>
                    </div>
                </div>
            </div>

            <small><div class="panel-footer"><a href="http://12factor.net/">Source : http://12factor.net/</a></div></small>
         <hr class="whiter" />
     </div>

   </section>
</section>
