<div class="side-widgets overflow">
         <!-- Projects -->
         <div class="s-widget m-b-25">
            <h2 class="tile-title">On Going Projects</h2>
            <div class="s-widget-body">
                 <div class="side-border">
                     <small>Crown Signature Portal Integration</small>
                     <div class="progress progress-small">
                       <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: 60%;" data-original-title="30%">
                           <span class="sr-only">30% Complete</span>
                       </a>
                     </div>
                 </div>
                 <div class="side-border">
                     <small>Tier Management Service</small>
                     <div class="progress progress-small">
                        <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 43%;" data-original-title="90%">
                           <span class="sr-only">90% Complete</span>
                        </a>
                     </div>
                 </div>
                 <div class="side-border">
                     <small>Wymac Integration</small>
                     <div class="progress progress-small">
                        <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning" style="width: 81%;" data-original-title="60%">
                           <span class="sr-only">60% Complete</span>
                        </a>
                     </div>
                 </div>
            </div>
         </div>

         <!-- Feeds -->
         <div class="s-widget m-b-25">
            <h2 class="tile-title">Jira Feeds</h2>

            <div class="s-widget-body">
                <small><div id="news-feed"></div></small>
            </div>
         </div>
</div>

<ul class="list-unstyled side-menu">
   <li>
      <a class="sa-side-photos" href="#/Vision">
         <span class="menu-item">Team Vision</span>
      </a>
   </li>
   <li class="dropdown">
       <a class="sa-side-ccarchitecture" href="#/Architecture">
          <span class="menu-item">Crown Connect</span>
       </a>
       <ul class="list-unstyled menu-item">
          <li><a href="#/Methodology">Methodology</a></li>
          <li><a href="#/ArchitectureOverview">Architecture Overview</a></li>
       </ul>
   </li>
   <li class="dropdown">
       <a class="sa-side-team" href="">
          <span class="menu-item">Team Structure</span>
       </a>
       <ul class="list-unstyled menu-item">
           <li><a href="#/TeamPhoenix">Team Phoenix</a></li>
           <li><a href="#/TeamFalcon">Team Falcon</a></li>
       </ul>
   </li>
</ul>
